dist
node_modules
node_modules/**
**/.DS_Store
.DS_Store
performance.db.ndjson
performance.ndjson
target/
benchmark*/
custom*/
temp-trace*
canned*
instrumented*
Downloads/
data/
tests/*output.txt
.dockerignore
Dockerfile