[submodule "third_party/wasabi"]
	path = third_party/wasabi
	url = https://github.com/jakobgetz/wasabi.git
	branch = jakob
[submodule "third_party/wizard-engine"]
	path = third_party/wizard-engine
	url = https://github.com/doehyunbaek/wizard-engine
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/WebAssembly/binaryen.git
