dist
node_modules
node_modules/**
**/.DS_Store
.DS_Store
performance.db.ndjson
performance.ndjson
target/
custom*/
temp-trace*
canned*
instrumented*
Downloads/
data/
tests/*output.txt
out/
build/
.vscode
__pycache__/
nohup.out
*_test.wasm
*.shrunken.wat
*.aot
*.so
wasmedge-*
!*.tar.gz